*{
	box-sizing: border-box;
}
body{
	margin: 0;
	font-family: sans-serif;
	background: url(../img/font.jpg) ;
}

.form-register{
	width: 95%;
	max-width: 500px;
	margin: auto;
	background: rgba(238, 233, 233, 0.842);
	border-radius: 15px;
}
.form-titulo{
	background: #5eff00b2;
	color: rgb(77, 108, 114);
	padding: 20px;
	text-align: center;
	font-weight: 100;
	font-size: 30px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom: 3px solid #e5ff00;

}
.contenedor-inputs{
	padding: 10px 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
input{
	margin-bottom: 15px;
	padding: 15px;
	font-size: 16px;
	border-radius: 3px;
	border: 1px solid rgb(7, 7, 7);
}
.input-48{
	width: 48%;
}
.input-100{
	width: 100%;
}
.btn-enviar{
	background: #95d431;
	color: #fff;
	margin: auto;
	padding: 10px 40px;
	cursor: pointer;
	font-size: 20px;

}
.btn-enviar:hover{
background: #09e014;
transform: scale(1.1);
}
.btn-enviar:active{
	transform: scale(1.2);
}
.form-link{
	width: 100%;
	margin: 7px;
	font-size: 14px;
	text-align: center;
}